.gameFrame {
  width: 1300px;
  height: 245px;
  align-items: flex-start;
  position: relative;
  border-radius: 30px;
  background-color: #17202d;
  overflow: hidden;
}
.gameTitle {
  color: #fff;
  font-size: 28px;
  line-height: 95.6%;
  font-weight: 600;
  font-family: Noto Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  align-items: center;
  position: absolute;
  left: 650px;
  top: 53px;
  white-space: nowrap;
  width: 43%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gamePrice {
  color: #fff;
  font-size: 48px;
  line-height: 95.6%;
  font-weight: bold;
  font-family: Noto Sans, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  align-items: center;
  position: absolute;
  left: 1087px;
  top: 164px;
  white-space: nowrap;
}
.gameTags {
  opacity: 0.5;
  color: #fff;
  font-size: 20px;
  line-height: 95.6%;
  font-family: Arial, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  align-items: center;
  position: absolute;
  left: 650px;
  top: 92px;
  white-space: nowrap;
}
.rectangle {
  width: 127px;
  height: 10px;
  position: absolute;
  left: 650px;
  top: 136px;
  border-radius: 20px;
  background-color: #214b6b;
}
.frame {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1226px;
  top: 47px;
}
.image {
  width: 599px;
  height: 280px;
  position: absolute;
  left: 0;
  top: -17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
